[ req ]

default_bits = 2048

default_keyfile = ca.key

encrypt_key = no

default_md = sha2

prompt = no

utf8 = yes

distinguished_name = my_req_distinguished_name

req_extensions = my_extensions

[ my_req_distinguished_name ]
C = NL
ST = Zuid-Holland
L = Den Haag
O  = Digiwhite 
CN = *.example.com

[ my_extensions ]
basicConstraints=CA:FALSE
subjectAltName=@my_subject_alt_names
subjectKeyIdentifier = hash

[ my_subject_alt_names ]
DNS.1 = *.example.com
DNS.2 = localhost
